@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Regular.eot');
  src: url('../fonts/PT_Sans-Regular.ttf') format('truetype'),
  url('../fonts/PT_Sans-Regular.woff') format('woff'),
  url('../fonts/PT_Sans-Regular.woff2') format('woff2'),
  url('../fonts/PT_Sans-Regular.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}