$green-color:                     #7dac3f;
$dark-green-color:                #808000;
$light-brown-color:               #aa8c67;
$brown-color:                     #A0522D;
$dark-brown-color:                #323232;
$light-blue-color:                #f5f5f5;
$light-grey-color:                #797979;
$dark-grey-color:                 grey;
$opacity-white:                   rgba(255, 255, 255, .5);